/*********************************************************************
 > Author:libo
 > Mail:libodls@139.com
**********************************************************************/

.cmdlog {
	margin:0px;
	padding:5px 5px 0px 0px;
	font-size:14px;
	font-family:"Menlo Regular", "Helvetica", "Courier", "黑体", "宋体", sans-serif;
	line-height:16px;
}
.cmdinput {
	margin:0px;
	padding:0px;
	height:16px;
	font-size:14px;
	font-family:"Menlo Regular", "Helvetica", "Courier", "黑体", "宋体", sans-serif;
	color:#ffffff;
	border:0px;
	outline:none;
	background:#000000;
}

