/*********************************************************************
 > Author:libo
 > Mail:libodls@139.com
**********************************************************************/

.td-title {
	margin:0px;
	padding:2px 5px 2px 5px;
	height:30px;
	font-size:16px;
	text-align:center;
	border-bottom:3px #515151 double;
}
.td-cell {
	margin:0px;
	padding:2px 5px 2px 5px;
	height:40px;
	font-size:14px;
	line-height:18px;
	text-align:center;
	border-bottom:1px #515151 dotted;
}

